[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "microclass"]
	path = microclass
	url = https://github.com/larssnip/microclass
[submodule "microcontax"]
	path = microcontax
	url = https://github.com/larssnip/microcontax
[submodule "micropan"]
	path = micropan
	url = https://github.com/larssnip/micropan
[submodule "microseq"]
	path = microseq
	url = https://github.com/larssnip/microseq
